.parent{
    width: 100%;
    background-color: rgb(239, 239, 241);
}

.firstrow {
    height: 50px;
    width: 100%;
}

.secondrow {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 40px;
    margin: 0px;
}

.secondrowimage {
    width: 80px;
    height: 20px;
}

.thirdrow {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(197, 58, 81);
    height: 50px;
    gap: 100px;
 
}

a {
    text-decoration: none;
    color: black;
}

#input3{
    display: inline-flex;
    align-items: center;
    gap: 0;
    margin: -10px;
    padding: -5px;

}



    



   .thirdrowdiv:hover{
    background-color: white;
    color: rgb(51, 7, 14);

   }

    


.fourthrow{
    background-color: rgb(114, 4, 41);
    width: 100%;
    height: 40px;
    display: flex;
    flex: auto;
    color: white;
    justify-content: center;
    align-items: center;

    
}

.forthrowdiv{
    height: 20px;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.forthrowdiv:hover{
    background-color: white;
    color: rgb(17, 1, 4);
}

.fifthrowdiv{
    height: 600px;
    width: 100%;
}

.sixthrow{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
}

.sixthrowdiv{
    width: 160px;
    height: 50px;
    border-radius: 6px;
     
}

.seventhrow{
    background-color: rgb(212, 7, 103);
    height: 60px;
    display: flex;
    gap: 20px;
    text-align: center;
}

.seventhrowdiv{
    color: white;
    margin: 5px;

}


.grid-container{
    width: 95%;
    height: 2500vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(35, 1fr);
    gap: 10px;
    margin: 10px 25px;
    background-color: rgb(239, 239, 241);
}

.grid-items{
    background-color: white;
    border: 0.5px solid rgb(230, 225, 225);
    height: 430px;
    align-items: center;
}

#gridpictures{
    width: 200px;
    height: 140px;
}

#grid-id{
    display: inline-grid;
    margin-right: 20px;
    
}

#cart-add:hover{
    background-color: rgb(238, 86, 112);
    color: white;
}

#cart-add{
    text-align: center;
    width: 200px;
    justify-content: center;
    background-color: white;
    color: rgb(233, 37, 69);
    border: 1px solid rgb(214, 33, 63);
    height: 30px;
}

.grid-items:hover{
    box-shadow: 0 0 10px gray;
    transition-duration: 1s;
}

hr {
    background-color: gray;
    border: 0.5px solid gray;
    color: gray;
}

.ninethrow{
    height: 80px;
    display: flex;
    flex: auto;
    justify-content: center;
    background-color: black;
    align-items: center;
    gap: 30px;
}

.ninethrowdiv{
  height: 20px;
  font-size: 30px;
  color: white;
  gap: 10px;
}

.ninethtext{
    color: white;
    font-size: 15px;
    
}

#input{
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 15px;
    color: black;

}

button{
    height: 50px;
    margin-right: 15px;
    background-color: rgb(240, 55, 85);
    color: white;
}

.butin{
    margin: -20px;
    padding: -5px;

}

.tenthrow{
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: center;
    height: 250px;
    background-color: black;
    color: white;
    gap: 2px;
}

.tenthrowdiv{
    align-items: center;
    width: 150px;
}

p{
    font-size: 12px;
}
